In [7]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st 
from pathlib import Path

In [8]:
# Load CSV files
mouse_metadata_csv = Path("Resources/Mouse_metadata.csv")
study_results_csv = Path("Resources/Study_results.csv")

In [10]:
# Read metadata and results data files and store them in DataFrames 
mouse_metadata = pd.read_csv(mouse_metadata_csv)
study_results = pd.read_csv(study_results_csv)

In [12]:
# Combine data files into a single dataset 
complete_study_data = pd.merge(study_results, mouse_metadata, how="left", on=["Mouse ID", "Mouse ID"])
complete_study_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [13]:
# Find number of unique mice 
mice_count = complete_study_data["Mouse ID"].nunique()
mice_count

249

In [28]:
# Find duplicate mice by ID number that shoes up for Mouse ID and Timepoint 
duplicate_id = complete_study_data[complete_study_data[["Mouse ID", "Timepoint"]].duplicated(keep=False) == True] 
duplicate_id["Mouse ID"].unique()

array(['g989'], dtype=object)

In [29]:
# Optional: get all data for the duplicate Mouse ID 
duplicate_data = complete_study_data.loc[complete_study_data["Mouse ID"] == "g989"]
duplicate_data

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26